.navbar
    .navbar__logo 
        //- logo is declared in a new class
        a#logo.logo--wrap(href='/')
            include ../_svg-code/logo--main
    .navbar__links
        //- make the nav links the dark grey/black color
        ul
            li: a(href="/about.html") Start Over
            li: a(href="#footer") Contact