.navbar
    a.navbar__logo(href='/')
        img.logo(src='public/img/Logo.png')
    .navbar__links
        ul
            li: a.link(href="/about.html") Start Over
            li: a.link(href="/about.html") Give Up
            li: a.link(href="#footer") Credits