.navbar
    a.navbar__logo(href='/')
        img.logo(src='public/img/Logo.png')
    .navbar__links
        ul
            li: a.link(href="/") Start Over
            li: a.link(href="/") Give Up
    .navbar__avatar
        img.logo(src='public/img/Logo.png')
