extends pug-templates/_layout__normal

append startScript
    - var namespace = 'avatar'

    script.
        function getAvatar(img){
        console.log(img);

        var box = document.querySelectorAll('section');
        boxArray= Array.from(box);

        boxArray.forEach(function(el) {
            el.addEventListener('click', function(){
                this.style.background('blue')
            });
        });

block content
    img(src='public/img/Logo.png' alt='logo')
    p Select your avatar and press the 'START' button
    .avatar-selector
        section(onclick="getAvatar('public/img/Frida.png')")
            .selector-img
                img.avt(src='public/img/Frida.png' alt='Frida')
                h4 Frida Kahlo
            .selector-text
                p.
                    Artist Frida Kahlo was considered one of Mexico's greatest artists who began painting mostly self-portraits after she was severely injured in a bus accident.
                    Kahlo later became politically active and married fellow communist artist Diego Rivera in 1929. She exhibited her paintings in Paris and Mexico before her death
                    in 1954.After Kahlo’s death, the feminist movement of the 1970s led to renewed interest in her life and work, as Kahlo was viewed by many as an icon of female creativity.
        section(onclick="getAvatar('public/img/Joan.png')")
            .selector-img
                img.avt(src='public/img/Joan.png' alt='Joan')
                h4 Joan of Arc
            .selector-text
                p.
                    Joan of Arc, nicknamed "The Maid of Orléans," was born in 1412 in Domrémy, Bar, France. A national heroine of France, at age 18 she led the French army to victory over the
                    English at Orléans. Captured a year later, Joan was burned at the stake as a heretic by the English and their French collaborators. She was canonized as a Roman Catholic saint more
                    than 500 years later, on May 16, 1920.
        section(onclick="getAvatar('public/img/Maya.png')")
            .selector-img
                img.avt(src='public/img/Maya.png' alt='Maya')
                h4 Maya Angelou
            .selector-text
                p.
                    Maya Angelou was an American poet, singer, memoirist, and civil rights activist. She published seven autobiographies, three books of essays, several books of poetry, and is
                    credited with a list of plays, movies, and television shows spanning over 50 years.One of her famous quotes  is  "I am a feminist. I've been female for a long time now. I'd be
                    stupid not to be on my own side."
        section(onclick="getAvatar('public/img/Virginia.png')")
            .selector-img
                img.avt(src='public/img/Virginia.png' alt='Virginia')
                h4 Virginia Woolfe
            .selector-text
                p.
                    Virginia Woolf (1882-1941) was one of the most important female authors in the transitional period from the Victorian age to the Edwardian age. She refused patriarchal honours
                    like the Companion of Honour (1935) and honorary degrees from Manchester and Liverpool (1933 and 1939), and wrote polemical works about the position of women in society, such as
                    A Room of One’s Own (1929) and Three Guineas (1938).she suffered from poor mental health for much of her life, committing suicide in 1941.
    a#buttonstart(href='quiz.html' data-router-disabled) 
        button.button#buttonstart(style='vertical-align:middle')
            span START  
block endScript
    