extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var pageContent = ".page-wrapper__content__home";
    - var namespace = 'home'
    - var avatar = ['Frida with the good hair', 'joan', 'maya']


block content
    head

        h1= avatar
        div.container
            img(src='public/img/FridaKahloImage.jpg' alt='logo')
            p This is a trivia game about influential women of history.
            button.button(style='vertical-align:middle')
                span START

block endScript