extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'home'

block content
    img(src='public/img/Logo.png' alt='logo')
    .avatar-banner
        img(id='desktop' src='public/img/AvatarBanner.png' alt='Banner')
        img(id='mobile' src='public/img/MobileBanner.png' alt='Banner')
    p This is a trivia game about influential women of history.
    a(href='avatar.html')
        button.button(style='vertical-align:middle')
            span START

block endScript