extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'home'

block content
    img(src='public/img/Logo.png' alt='logo')
    .avatar-banner
        img(id='desktop' src='public/img/AvatarBanner.png' alt='Banner')
        img(id='mobile' src='public/img/MobileBanner.png' alt='Banner')
    p We have been hearing ‘his’ story for too long. In this trivia quiz we wanted to spotlight ‘her’ story and appreciate the great women who have changed the world. Select your avatar and get ready to challenge your knowledge about Herstory.
    a(href='avatar.html' data-router-disabled) 
        button.button(style='vertical-align:middle')
            span START

block endScript