extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'quiz'
    - var avatar = ['Frida with the good hair', 'joan', 'maya']

block content
    block content
    .quiz
        .number
            div
                h2#num
            div
                img#mini(src='public/img/Maya.png' alt='avatar')
        .question
            h3#question 
        .answers
            button.choice(style='vertical-align:middle') 
                p#a 
            button.choice(style='vertical-align:middle')
                p#b
            button.choice(style='vertical-align:middle')
                p#c
            button.choice(style='vertical-align:middle')
                p#d
        button.button(style='vertical-align:middle')
            span#next NEXT
block endScript