extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'quiz'
    - var avatar = ['Frida with the good hair', 'joan', 'maya']

block content
    block content
    .number
        div
            h2 #1
        div
            img#mini(src='public/img/Maya.png' alt='avatar')
    .question
        h3 Is this a question?
    .answers
        button.choice#a(style='vertical-align:middle')
            span A
        button.choice#b(style='vertical-align:middle')
            span B
        button.choice#c(style='vertical-align:middle')
            span C
        button.choice#d(style='vertical-align:middle')
            span D
    button.button(style='vertical-align:middle')
        span NEXT
block endScript