extends pug-templates/_layout__normal

append startScript
    - var namespace = 'quiz'

block content
    block content
    .quiz
        .number
            div
                h2#qNum
            div
                img#mini(src='public/img/Maya.png' alt='avatar')
        .question
            h3#question Who is the first female pilot?
        .answers
            button.choice#buttonA(style='vertical-align:middle') 
                p#aChoice Marie Marvingt
            button.choice#buttonB(style='vertical-align:middle')
                p#bChoice Evgenia Shakhovskaya
            button.choice#buttonC(style='vertical-align:middle')
                p#cChoice Sabiha Gokcen
            button.choice#buttonD(style='vertical-align:middle')
                p#dChoice Eleanor Roosevelt
        button.button#buttonFinish(style='vertical-align:middle')
            span#finishText FINISH
        button.button#buttonNext(style='vertical-align:middle')
            span#nextText NEXT
    //- script.
    //-     function getAnswer(answer){
    //-         console.log(answer);
    //-         var box = document.getElementsByTagName('button');
    //-         console.log(box.length);
    //-         for (var i=0; i<box.length-1; i++){
    //-             box[i].style.opacity=0.5;
    //-             box[i].style.backgroundColor='#A40E4C';
    //-             box[i].style.borderColor='#A40E4C';
    //-         }
    //-     }
block endScript