extends pug-templates/_layout__normal

append startScript
    //- let's dump variables into here like below
    - var keywordContent = "Some SEO stuff" // The template page has a variable called keywordContent where this string writes into
    - var avatar = ['Frida with the good hair', 'joan', 'maya']


block content
    h1= avatar[2]
block endScript