extends pug-templates/_layout__normal

append startScript
    - var namespace = 'quiz'

block content
    block content
    .quiz
        .number
            div
                h2#num
            div
                img#mini(src='public/img/Maya.png' alt='avatar')
        .question
            h3#question Who is the first female pilot?
        .answers
            button.choice#buttona(style='vertical-align:middle') 
                p#a Marie Marvingt
            button.choice#buttonb(style='vertical-align:middle')
                p#b Evgenia Shakhovskaya
            button.choice#buttonc(style='vertical-align:middle')
                p#c Sabiha Gokcen
            button.choice#buttond(style='vertical-align:middle')
                p#d Eleanor Roosevelt
        button.button#buttonnext(style='vertical-align:middle')
            span#next NEXT
    script.
        function getAnswer(answer){
        console.log(answer);
        var box = document.getElementsByTagName('button');
        console.log(box.length);
        for (var i=0; i<box.length-1; i++){
            box[i].style.opacity=0.5;
            box[i].style.backgroundColor='#A40E4C';
            box[i].style.borderColor='#A40E4C';
        }
        }
block endScript