extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'results'

block content
    p text