extends pug-templates/_layout__normal

append startScript
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var namespace = 'results'

block content
    .results
        h1 Results
        table#resultTable
            tr
                th Question
                th Correct Answer
                th User Answer
        script.
            var table = document.getElementById('resultTable');
            var row;
            var cell1;
            var cell2;
            var cell3;
            console.warn('TABLE LENGTH');
            //- console.warn(table.length());
            for(var i=0; i<12; i++){
                row = table.insertRow();
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell3 = row.insertCell(2);
                cell1.innerHTML = i+1;

            }

            //- cell1.innerHTML = 'LORITA';
            //- cell2.innerHTML = 'JUAN';
            //- cell3.innerHTML = 'DEE';
block endScript
    
