doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title Herstory!
        meta(name="author", content="The Feminists")
        meta(name="keywords", content=keywordContent)
        meta(name="description" content=pageDescContent)
        meta(name='theme-color', content='#a40e4c')
        link(rel='icon', type="image/png", sizes='32x32', href='public/img/favicon-32x32.png')
        link(rel='icon', type="image/png", sizes='16x16', href='public/img/favicon-16x16.png')
        link(rel="stylesheet", href="public/css/styles.css")
    body
        .wrapper
            header
                include _includes/navbar
            .wrapper__page
                main(data-router-wrapper)
                    .wrapper__page__content.wrapper__page__content--center(data-router-view=namespace)
                        block content
        script(src="public/js/script.js")
        block endScript