body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #a40e4c;
	background-image: linear-gradient(to bottom, #a40e4c, #4f1c82);
	font-family: 'Comfortaa', cursive;
	color: #cacfd6;
}

.red {
	//is red
	color: red;
}
