body {
	height: 100%;
	background-repeat: no-repeat;
	margin: 0;
	background-attachment: fixed;
	background-color: #4F1C82;
	background-image: linear-gradient(to bottom right, #A40E4C, #4F1C82);
}
.red {
	//is red
	color: red;
}
