body {
	height: 100%;
	background-repeat: no-repeat;
	margin: 0;
	background-attachment: fixed;
	background-color: #A40E4C;
	background-image: linear-gradient(to bottom, #A40E4C, #4F1C82);
	font-family: 'Comfortaa', cursive;
	color: #CACFD6;
	padding: 50px;
}

.red {
	//is red
	color: red;
}
