.navbar {
	display: flex;
	justify-content: space-around;
	padding: 2%;
}

.navbar div {
	width: 45%;
}

.navbar__logo {
	display: flex;
	justify-content: flex-start;
}

.navbar__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navbar__links a {
	text-decoration: none;
	list-style: none;
	color: #FFFFFF;
}

.navbar__links a:hover {
	color: #411C82;
}

.logo {
	max-width: 100px;
}
