.navbar {
	display: grid;
	grid-template-columns: 12.5em auto;

	&__logo {
		grid-column: 1/2;
		padding: 4px 4px;
		max-height: 80px;

		img.logo {
			display: block;
			max-width: 100%;
			max-height: 85px;
		}
	}

	&__links {
		grid-column: 2/3;
		display: block;

		ul {
			list-style: none;
			justify-content: end;
			float: right;

			li {
				display: block;
				float: left;
				margin-right: 2.647em;

				&:last-child {
					margin-right: 1em;
				}

				a.link {
					display: block;
					position: relative;
					text-decoration: none;
					// text-transform: capitalize;
					color: white;

					&:hover,
					&.active,
					&:focus {
						color: $color--feminist_grad;
					}
				}
			}
		}
	}
}
